.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#body{
 
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
}
#fond{
  
  width: 50%;
  margin-left: 300px;
  border-radius: 10px;
}
.container{
  margin-left: 500px !important;
  margin-top: 50px !important;
}
#but:hover{
  text-decoration: none;
  color:white;
}
#but{
  color:#28a745;
  border-color: #28a745;
}
.but{
  margin-left: 10px;
}